.btn {
    border: none;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.card-footer button i {
    font-size: 1rem;
    color: #555;
}

.hidden { display: none; }
.selected { border: 3px solid white; }


.empty-state {
    text-align: center;
    color: #eee;
    margin-top: 4rem;
    padding: 2rem;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.empty-state h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.empty-state p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    color: #ccc;
}

.empty-state button {
    font-size: 1rem;
    padding: 0.8rem 1.2rem;
    background-color: #77ec41;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.2s ease;
}

.empty-state button:hover {
    background-color: #63c934;
    transform: scale(1.05);
}
