.modal-container {
    height: 50%;
    width: 40%;
    background-color: aquamarine;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    display: flex;
    height: 80%;
    width: 100%;
}

.ticket-text-input {
    width: 90%;
    height: 100%;
    outline: none;
    resize: none;
}
